<!DOCTYPE>
<html ng-app="myApp">
<head>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
	md-toolbar, md-toolbar a {
		color: #fff;
		text-decoration: none;
	}
	.card-media {
  		background-color: #999999; 
	}
</style>
<header ng-controller="menuController">
	<md-toolbar class="md-toolbar-tools">
		<md-button class="menu-icon nornal-btn" ng-click="toggleRight()">
			<md-tooltip>Меню</md-tooltip>
			<md-icon ng-bind="'menu'"></md-icon>
		</md-button>
		Передовые решения на 1C-Bitrix
	</md-toolbar>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1>Разработанные модули</h1>
		</div>
	</md-toolbar>
	<md-sidenav class="md-sidenav-left" md-component-id="left">
		<md-content>
			<md-list flex>
				<md-subheader class="md-no-sticky" ng-click="toggleRight()">
					<md-tooltip>Свернуть меню</md-tooltip> 
					<md-icon ng-bind="'close'"></md-icon>
				</md-subheader>
				<md-list-item>
					<a href="/">Пункт 1</a>
				</md-list-item>
				<md-list-item>
					<a href="/">Пункт 1</a>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
</header>
<script>
	var app = angular.module('myApp', ['ngMaterial', 'ngMask']);
	app.config(function($mdThemingProvider) {
		let all = ["red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", "light-green", "lime", "yellow", "amber", "orange", "deep-orange", "brown", "grey", "blue-grey"];
		$mdThemingProvider.theme('default')
			//.dark();
			.primaryPalette('deep-purple')
			.accentPalette('orange');
			//.backgroundPalette('blue');
	});
	app.controller('menuController', function($scope, $timeout, $mdSidenav) {
		$scope.toggleRight = function () {
			$mdSidenav('left').toggle();
		};
	});
</script>

<!-- begin body -->

<article ng-controller="contentController" layout="row">
	<md-content class="md-padding" layout-xs="column" layout="row" style="background: #ddd">
		<div flex-xs flex-gt-xs="50" layout="column" style="width: 50%; margin: auto;">
			<md-card>
				<md-card-title>
					<md-card-title-media>
						<img ng-src="map.png" class="md-card-image" />
					</md-card-title-media>
					<md-card-title-text>
						<div class="md-headline">Маршрутизатор</div>
						<div class="md-subhead">Настраиваемое проложение маршрута</div>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<p>Прокладывает путь до Вашего офиса. Местоположение пользователя определятеся как 
					автоматически, так и при узказании своего ареса, или просто по клику на карте.
					Внешний вид полоностью настраивается.</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-warn">Подробнее</md-button>
					<md-button class="md-warn" ng-click="add($event, 'Лэндинг')">Выбрать</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</md-content>
</article>
<script>
	app.controller('contentController', function($scope, $mdDialog) {
		$scope.contents = ["a", "b"];
		$scope.add = function($event, name) {
			var parentEl = angular.element(document.body);
			$mdDialog.show({
				parent: parentEl,
				targetEvent: $event,
				template:
					`<form
						name='calbackForm'
                		ng-show="form.success === undefined"
                  		novalidate
                	>
						<md-dialog aria-label="List dialog">
							<md-dialog-content>
								<h2>Оформление заказа ${name}</h2>
								<md-input-container>
									<label><md-icon ng-bind="'person'"></md-icon> Как вас завут?</label>
									<input 
										ng-model="user.name"
										required='required'
										ng-minlength="3"
									>
								</md-input-container>
								<md-input-container>
									<label><md-icon ng-bind="'call'"></md-icon> Как с вами связаться?</label>
									<input 
										ng-model="user.tel"
										required='required'
										ng-minlength="7"
										type="tel"
										mask="(999) 999-99-99"
									>
								</md-input-container>
					 		</md-dialog-content>
				 	 		<md-dialog-actions>
				 	 			<md-button>Заказать звонок</md-button>
				 	 			<md-button ng-click="closeDialog()">Отмена</md-button>
					 		</md-dialog-actions>
						</md-dialog>
					</form>
					`,
				locals: {
					items: $scope.items
				},
				controller: DialogController
			}).then(function(value) {
				console.log(value);
			}, function() {});
		};
		function DialogController($scope, $mdDialog, items) {
			$scope.user = {};
			$scope.closeDialog = function() {
				$mdDialog.hide();
			}
		}
	});
</script>

<!-- end body -->
<footer>
	<md-toolbar>
		<md-list flex>
			<md-list-item layout-align="center center">
				<a href="">
					<md-icon ng-bind="'call'"></md-icon> (812) 939-8421
				</a>
			</md-list-item>
			<md-list-item layout-align="center center">
				<a href="">
					<md-icon ng-bind="'email'"></md-icon> info@shtoltc.ru 
				</a>
			</md-list-item>
		</md-list>
	</md-toolbar>
</footer>

</body>
</html>